/*csslint ids: false*/


/*UNIVERSAL SELECTOR*/

* {
    box-sizing: border-box;
}


/*******************************************************
GENERAL
*******************************************************/

body {
    /*    font-family: 'Amatic SC';*/
    font-family: 'Lobster';
    line-height: 1.5;
    margin: 0;
}

.title {
    border-bottom: 2px solid;
    color: white;
    /* To change font-size from px to em. Do this simple equation.
    Whatever the desired pixel is / 16.
    26px/16px = 1.625em
    */
    font-size: 1.25em;
    font-weight: 200;
    letter-spacing: 1.625em;
    padding-bottom: 10px;
}

h1 {
    /*  90px/16px  */
    color: white;
    font-size: 5.625em;
    font-weight: normal;
    line-height: 1.3;
    /*  Text shadows: 1st value is horizontal offset. 2nd value is vertical offset. 3rd value is blur. 4th is  of the color of the shadow. */
    margin: 12px 0 0;
    text-shadow: 0 5px 1px rgba(0, 0, 0, .8);
    text-transform: uppercase;
}

header {
    background-color: blue;
}

.main-header {
    background: linear-gradient(#FFA949, transparent 90%), linear-gradient(0deg, #FFF, transparent), #FFA949 url('../img/mountains.jpg');
    background-color: #FFA949;
    /*    background-image: url('../img/mountains.jpg');*/
    /*    background-image: radial-gradient(circle at top, #FFA949, firebrick);*/
    /*  background-image: linear-gradient(#FFA949, firebrick);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-top: 170px;
}

.main-header,
.title {
    text-align: center;
}

.primary-content {
    padding-bottom: 95px;
    text-align: center;
}

.secondary-content {
    border-bottom: 2px solid #DFE2E6;
    padding-bottom: 70px;
    padding-top: 80px;
}

.primary-content,
.secondary-content {
    margin: auto;
    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    width: 75%;
}

.t-border {
    border-top: 2px solid lightgrey;
}

ul li {
    list-style: none;
    margin-bottom: 5px;
}

ul,
ol {
    margin-left: 30px 0;
}

li {
    margin-bottom: 10px;
}

.arrow {
    margin-top: 150px;
    width: 50px;
}

img {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.wildlife {
    background-color: #434A52;
    background-image: url('../img/bear.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: #FFA949;
    border-radius: 10px;
    border-top: 10px solid #FFA949;
    /*  Box shadows: 1st value is horizontal. 2nd is vertical. 3rd is blur. 4th value is spread radius.  */
    box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, .8);
    color: white;
    /*
    padding-bottom: 100px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 100px;
*/
    /*  When 3 values. First one is on the top. Second one if on the left and right. Third is bottom  */
    margin: 105px 0 60px;
    /*  This says padding 18% on the top and bottom and 24% padding on the left and right  */
    padding: 18% 24%;
    /*  two values first if for top and bottom. 2nd is for left and right.  */
}

.callout {
    border-bottom: 3px solid;
    display: inline-block;
    font-size: 1.25em;
    margin-top: 20px;
    padding: 0 9px 3px;
}

#main-footer {
    border-bottom: solid 10px orange;
    padding-bottom: 60px;
    padding-top: 60px;
}

.Contact-Location {}


/*******************************************************
HEADLINE ELEMEMTS & P ELEMENTS
*******************************************************/

h2 {
    color: aqua;
    font-size: 53px;
    font-weight: normal;
    /*  26px/53px  */
    margin-bottom: .5em;
    text-decoration: underline;
}

h3 {
    font-size: 20px;
    /*  34px/20px  */
    margin-bottom: 1.7em
}

p {}


/*******************************************************
FLOATS COLUMNS
*******************************************************/

.resorts,
.tips {
    width: 46.5%;
}

.resorts {
    float: left;
}

.tips {
    float: right;
}

.group:after {
    clear: both;
    content: "";
    display: table;
}


/*******************************************************
COLORS
*******************************************************/

.title {
    color: white;
}


/*CSS PSUEDO CLASS*/

a:link {
    color: orange;
    text-decoration: none
}

a:visited {
    color: green;
}

a:hover {
    color: forestgreen;
}

a:active {
    color: coral;
}

a:focus {
    background-color: orange;
    color: white;
}


/*******************************************************
MEDIA QUERIES
*******************************************************/

@media (max-width: 1024px) {
    .primary-content,
    .secondary-content {
        width: 90%;
    }
    .wildlife {
        margin: 50px 0 20px;
        padding: 10% 12%
    }
}

@media (max-width: 768px) {
    .primary-content,
    .secondary-content {
        border-top: none;
        padding: 20px;
        width: 100%;
    }
    .main-header {
        max-height: 380px;
        padding: 50px 25px 0;
    }
    .title {
        border: none;
        font-size: 1.3rem;
    }
    h1 {
        font-size: 5rem;
        line-height: 1.1;
    }
    .arrow {
        display: none;
    }
    .intro {
        font-size: 1rem;
    }
    .resorts,
    .tips {
        float: none;
        width: 100%;
    }
    .main-footer {
        padding: 20px 0;
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 3rem;
    }
}